.main-Cart {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tottal-ttlamount {
  height: 250px;
  width: 15%;
  margin-top: 90px;
  border-radius: 7px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 2px 5px 0px rgba(128, 128, 128, 0.295);
  border-radius: 4px;
}

.full-tottal-amount {
  font-size: 19px;
  font-weight: 600;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout {
  height: 40px;
  width: 100px;
  background-color: red;
  border: none;
  outline: none;
  border-radius: 9px;
  color: #fff;
  font-weight: 600;
}
.cart-empty {
  font-size: 30px;
  font-weight: 700;
  color: rgba(94, 93, 93, 0.975);
}
.cart-empty:hover {
  cursor: pointer;
  color: black;
}
.emptyimg-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emptyimg {
  width: 300px;
  height: 300px;
}
