.main-morediv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  height: 530px;
}

.morediv {
  width: 80%;
  height: 280px;
  margin-top: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.cart-img-puma {
  background-color: rgba(128, 128, 128, 0.174);
  height: 400px;
  width: 35%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-cart-img-puma {
  width: 300px;
  height: 260px;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 600px;
  width: 64%;
}
.head-name {
  font-size: 30px;
  font-weight: 700;
}
.head-discription {
  font-size: 20px;
  font-weight: 500;
  color: gray;
}
.head-price {
  font-size: 26px;
  font-weight: 600;
}
.Cart-div {
  display: flex;
  justify-content: center;
}
.AddTo-Cart {
  height: 40px;
  width: 30%;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: red;
  color: #fff;
  font-weight: 600;
}
.AddTo-Cart:hover {
  box-shadow: 4px 4px 8px 1px rgba(128, 128, 128, 0.295);
}

.firstimg {
  height: 60px;
  width: 70px;
}

.deraction-img {
  height: 60px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
}
.sub-deraction-img {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.sub-deraction-img:hover {
  cursor: pointer;
}
.taxes {
  font-size: 15px;
  color: gray;
}
.shareopinion {
  font-size: 18px;
  color: red;
}
.size {
  font-weight: 600;
  font-size: 17px;
}
.round {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color: rgba(128, 128, 128, 0.175);
}
.view {
  font-weight: 700;
  font-size: 16px;
  color: red;
}
.line {
  border-bottom: 1px solid rgba(128, 128, 128, 0.423);
}
